html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    position: absolute;
    width: 500px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -250px;
    text-align: center;
}

header h1 {
    font-size: 60px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}


#add_icon {
    margin: 4px
}

.order_list {
    margin: 20px;
}

.brand-logo {
    margin-left: 20px
}

nav{
    background-color: steelblue;
    padding-left: 10px;
    padding-right: 10px;
    font-size: xx-large
}

#express_list{
    margin: 10px;
}

#div_float_button {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

#add_express_input_form {
    margin-top: 30px;
}

/*快递公司名称*/
#express_company{
    margin-right: 20px;
}

/*快递单*/
#express_nu{
    color: dodgerblue;
}

#express_details{
    padding: 1em
}

#express_details li{
    margin-bottom: 2px
}

#express_details img{
    width: 100px;
    height: auto;
}

/* 输入框的颜色 */

.input-field input[type=text]:focus + label {
    color: dodgerblue;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid dodgerblue;
    box-shadow: 0 1px 0 0 dodgerblue;
}
